/* COLOUR PALETTE  */
/* 
  BLACK     #000
  WHITE     #FFF
  STEEL     #2D3142
  STEEL/BG  #272a38
  SLATE     #26282f
    
  STEEL ALT #404e5c
  CONTRAST  #C4CAD0
*/

/* GLOBAL STYLES  */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d3142;
}

#root {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  line-height: 2rem;
}

div.ScrollbarContent > div.classless {
  flex: 1;
  margin-bottom: 80px;
}
