/* COLOUR PALETTE  */
/* 
  BLACK 
    #000
  WHITE
    #FFF
  STEEL
    #2D3142
  STEEL BG
    #272a38
  SLATE
    #26282f
    
  STEEL ALT
    #404e5c
  CONTRAST 
    #C4CAD0
*/

html,
body {
  height: 100%;
}

body,
#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d3142;
}

p {
  line-height: 2rem;
}
